<html>
<head>
  <title>Web Development</title>
  <link rel="stylesheet" type="text/css" href="blur.css">
</head>
<body>
  <div id="content" class="W-D">
    <h2>Web Developer</h2>
    <p><strong>Employement Type:</strong> Internship</p>
    <h4>Jayswal Market</h4>
    <hr>
    <p>Jayswal Market is now celebrating its Golden Jubilee. Jayswal Market is a shopping mall located in Govindpur Dhanbad giving employment to 100+ people. We wish to make an online presence among our prospective customers- through the website; in which young, fresh minds such as you, are needed.<br><br>
       
        Eligibility:-<br>
        Minimum Qualification: 12th completed<br>
        Prefered: Pursuing BE/B.Tech/Diploma (2nd, 3rd Year Students)<br><br>

        Applicant should have good knowledge of:-<br>
        WordPress and its plugins<br> 
        Basic Web Development tools: HTML, CSS & Javascript<br>
        The various plugins to boost up the website performance, and other business-related tasks such as online bookings and payments<br><br>

        Internship Duration:- <br>
        2-6 Months<br>
        The minimum internship duration is 2 Months.<br>
        Work hours: 25 hours per week (4-6 hrs per day).<br><br>

        Location:-<br>
        Jayswal Market, Govindpur, Dhanbad, Jharkhand PIN-828109<br>
        <b>OR</b><br>
        A laptop with a good internet connection<br><br>

        Benefits:-<br>
        Acquire and implement skills that are in-demand with hands-on training.<br>
        Develop and work on the industry-level.<br>
        Get an Internship Certificate on successful completion of the internship.<br>
        You can also get a Letter of Recommendation depending upon your work.<br>
        Nurture your skills with a team that can guide you at every single step.<br>
        Get the exposure you want.<br>
        Help small businesses to stay up to date with the new technologies<br>
        Exciting goodies.<br><br>

        <b>Note:-</b><br>
        The minimum internship duration is 2 Months.<br>
        This is not a paid internship but you may get some goodies depending upon your work.<br><br>

 
        Please feel free to contact me if you have any questions or need clarification. We are looking forward to working with you.<br><br>

        <b>Deepanshu Jayswal</b><br>
        <a id="mail" href="deepanshu@jayswalmarket.com">deepanshu@jayswalmarket.com</a><br>
        +91-9693630551 (Whatsapp Only)
    </p>
    <center><a id="apply" href="https://forms.gle/SzqmyQ4BjEdidNwB7" target="_blank"> Apply</a></center>
  </div>
</body>
</html>
<!-- https://forms.gle/GG6fJvEqLn9MUi3S7 for content writing-->