<html>
<head>
  <title>Graphic Designing</title>
  <link rel="stylesheet" type="text/css" href="blur.css">
</head>
<body>
  <div id="content" class="G-D">
    <h2>Graphic Designer</h2>
    <p><strong>Employement Type:</strong> Internship</p>
    <h4>Jayswal Market</h4>
    <hr>
    <p>Jayswal Market is now celebrating its Golden Jubilee. Jayswal Market is a shopping mall located in Govindpur Dhanbad giving employment to 100+ people. We wish to make an online presence among our prospective customers- through the website; in which young, fresh minds such as you, are needed.<br><br>
      
        Eligibility:-<br>
        Minimum Qualification: 12th completed<br>
        Preferred: Pursuing BE/B.Tech/Diploma(2nd, 3rd year students)<br><br>
       
        Skills required:-<br>
        Passion for learning new skills<br>
        Proficiency in designing tools like Photoshop, Illustrator etc.<br>
        Good sense of graphics<br>
        Knowledge of all social media platforms<br><br>
        
        Work and responsibilities:-<br>
        Create visually appealing posts<br>
        Post and edit blogs, graphics and videos<br>
        Conceptualize and design marketing material<br><br>
        
        Benefits:-<br>
        Acquire and implement skills which are in-demand with hands-on training.<br>
        Develop and work on industry level.<br>
        Get internship certificate on successful completion of internship.<br>
        You can also get a Letter of Recommendation depending on your work.<br>
        Nurture your skills with a team who can guide you at every single step.<br>
        Get the exposure you want.<br>
        Help small businesses to stay upto date with new technologies.<br>
        Exciting goodies.<br><br>
        
        <b>Note:-</b><br>
        Minimum internship duration is 2months. This is a not a paid internship but you may get some goodies depending upon your work.<br><br>
        Please feel free to contact me if you have any questions or need clarification. We are looking forward to work with you.<br><br>
        
        <b>Deepanshu Jayswal</b><br>
        <a id="mail" href="deepanshu@jayswalmarket.com">deepanshu@jayswalmarket.com</a><br>
    </p>
    <center><a id="apply" href="https://forms.gle/27YoWe68YXbA3Cf36" target="_blank"> Apply</a></center>
  </div>
</body>
</html>
